<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.tomale.id.inventory.management.category.views"
            name="Inventory">
      </category>
      <view
            allowMultiple="true"
            category="org.tomale.id.inventory.management.category.views"
            class="org.tomale.id.inventory.management.views.InventoryBrowser"
            id="org.tomale.id.inventory.management.views.inventorybrowser"
            name="Inventory Browser"
            restorable="true">
      </view>
   </extension>

</plugin>
